= render "layouts/phone_admin_sidebar"
%h1= @pbx.name

%p Find me in app/views/dashboard/index.html.haml

%p This will be the main administration page for a given PBX

%p This would be a great place for some CDR or something:

.row
  .span3
    = link_to new_admin_pbx_user_path, :class => 'well' do
      %h3.well-title
        %i{:class => 'icon-user-add'}
        Add a User
      %hr.well-divider
        .well-content
          Add new users for the PBX.
  .span3
    = link_to new_admin_device_path, :class => 'well' do
      %h3.well-title
        %i{:class => 'icon-phone-alt'}
        Add a Device
      %hr.well-divider
        .well-content
          Add devices to the PBX.


