[class^="big-icon-"],
[class*=" big-icon-"] {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  background-image: image-url("glyphicons.png");
  background-position: 36px 36px;
  background-repeat: no-repeat;
  margin-right: .3em;
}
[class^="big-icon-"]:last-child,
[class*=" big-icon-"]:last-child {
  margin-left: 0;
}
 
.big-icon-address-book { background-position: -1799px -51px; }
.big-icon-adjust { background-position: -1937px -51px; }
.big-icon-adjust-alt { background-position: -1891px -97px; }
.big-icon-airplane { background-position: -1753px -5px; }
.big-icon-alarm { background-position: -189px -51px; }
.big-icon-albums { background-position: -1983px -189px; }
.big-icon-align-center { background-position: -603px -97px; }
.big-icon-align-left { background-position: -557px -97px; }
.big-icon-align-right { background-position: -649px -97px; }
.big-icon-anchor { background-position: -2167px -189px; }
.big-icon-asterisk { background-position: -143px -235px; }
.big-icon-ax { background-position: -879px -281px; }
.big-icon-ban { background-position: -143px -189px; }
.big-icon-bank { background-position: -833px -235px; }
.big-icon-barcode { background-position: -649px -235px; }
.big-icon-baseball { background-position: -787px -281px; }
.big-icon-basketball { background-position: -971px -419px; }
.big-icon-bathrobe { background-position: -1845px -327px; }
.big-icon-beach-umbrella { background-position: -603px -5px; }
.big-icon-beer { background-position: -1339px -235px; }
.big-icon-bell { background-position: -1799px -281px; }
.big-icon-bicycle { background-position: -557px -281px; }
.big-icon-bin { background-position: -741px -5px; }
.big-icon-binoculars { background-position: -1155px -5px; }
.big-icon-birthday-cake { background-position: -1523px -235px; }
.big-icon-blacksmith { background-position: -879px -419px; }
.big-icon-blog { background-position: -1661px -281px; }
.big-icon-bluetooth { background-position: -1339px -189px; }
.big-icon-boat { background-position: -465px -235px; }
.big-icon-bold { background-position: -189px -97px; }
.big-icon-bomb { background-position: -2029px -235px; }
.big-icon-book { background-position: -1017px -51px; }
.big-icon-book-open { background-position: -373px -327px; }
.big-icon-bookmark { background-position: -1063px -51px; }
.big-icon-bowling { background-position: -971px -281px; }
.big-icon-briefcase { background-position: -2167px -281px; }
.big-icon-brightness-increase { background-position: -1937px -143px; }
.big-icon-brightness-reduce { background-position: -1891px -143px; }
.big-icon-brush { background-position: -1753px -189px; }
.big-icon-bug { background-position: -787px -327px; }
.big-icon-building { background-position: -1845px -51px; }
.big-icon-bullets { background-position: -1661px -235px; }
.big-icon-bullhorn { background-position: -557px -327px; }
.big-icon-buoy { background-position: -741px -235px; }
.big-icon-bus { background-position: -1431px -5px; }
.big-icon-cake { background-position: -1247px -235px; }
.big-icon-calculator { background-position: -1339px -281px; }
.big-icon-calendar { background-position: -2075px -5px; }
.big-icon-camera { background-position: -511px -5px; }
.big-icon-camera-small { background-position: -2167px -5px; }
.big-icon-candle { background-position: -1845px -281px; }
.big-icon-car { background-position: -235px -5px; }
.big-icon-cardio { background-position: -1707px -235px; }
.big-icon-cargo { background-position: -465px -51px; }
.big-icon-cars { background-position: -1293px -5px; }
.big-icon-cart-in { background-position: -603px -189px; }
.big-icon-cart-out { background-position: -557px -189px; }
.big-icon-celebration { background-position: -2121px -235px; }
.big-icon-certificate { background-position: -1753px -281px; }
.big-icon-charts { background-position: -1891px -5px; }
.big-icon-chat { background-position: -5px -235px; }
.big-icon-check { background-position: -235px -143px; }
.big-icon-chevron-left { background-position: -1293px -189px; }
.big-icon-chevron-right { background-position: -1247px -189px; }
.big-icon-circle-arrow-down { background-position: -1063px -189px; }
.big-icon-circle-arrow-left { background-position: -925px -189px; }
.big-icon-circle-arrow-right { background-position: -971px -189px; }
.big-icon-circle-arrow-top { background-position: -1017px -189px; }
.big-icon-circle-exclamation-mark { background-position: -5px -189px; }
.big-icon-circle-info { background-position: -2213px -143px; }
.big-icon-circle-minus { background-position: -2029px -143px; }
.big-icon-circle-ok { background-position: -2121px -143px; }
.big-icon-circle-plus { background-position: -1983px -143px; }
.big-icon-circle-question-mark { background-position: -2167px -143px; }
.big-icon-circle-remove { background-position: -2075px -143px; }
.big-icon-classic-hammer { background-position: -1477px -327px; }
.big-icon-claw-hammer { background-position: -1431px -327px; }
.big-icon-cleaning { background-position: -833px -51px; }
.big-icon-clock { background-position: -235px -51px; }
.big-icon-cloud { background-position: -1661px -189px; }
.big-icon-cloud-download { background-position: -971px -327px; }
.big-icon-cloud-minus { background-position: -971px -373px; }
.big-icon-cloud-plus { background-position: -925px -373px; }
.big-icon-cloud-upload { background-position: -925px -327px; }
.big-icon-coat-hanger { background-position: -1753px -327px; }
.big-icon-coffe-cup { background-position: -5px -281px; }
.big-icon-cogwheel { background-position: -1753px -97px; }
.big-icon-cogwheels { background-position: -1799px -97px; }
.big-icon-coins { background-position: -1707px -5px; }
.big-icon-collapse { background-position: -1155px -327px; }
.big-icon-collapse-top { background-position: -1201px -327px; }
.big-icon-comments { background-position: -695px -281px; }
.big-icon-compass { background-position: -511px -51px; }
.big-icon-compressed { background-position: -833px -373px; }
.big-icon-construction-cone { background-position: -1753px -373px; }
.big-icon-conversation { background-position: -2213px -189px; }
.big-icon-copyright-mark { background-position: -281px -373px; }
.big-icon-credit-card { background-position: -1017px -235px; }
.big-icon-crop { background-position: -2029px -51px; }
.big-icon-crown { background-position: -833px -327px; }
.big-icon-cup { background-position: -1155px -51px; }
.big-icon-cutlery { background-position: -1431px -235px; }
.big-icon-dashboard { background-position: -1707px -281px; }
.big-icon-database-ban { background-position: -2075px -97px; }
.big-icon-database-lock { background-position: -1937px -97px; }
.big-icon-database-minus { background-position: -2029px -97px; }
.big-icon-database-plus { background-position: -1983px -97px; }
.big-icon-delete { background-position: -511px -235px; }
.big-icon-direction { background-position: -1707px -189px; }
.big-icon-disk-export { background-position: -1247px -373px; }
.big-icon-disk-import { background-position: -1201px -373px; }
.big-icon-disk-open { background-position: -1063px -373px; }
.big-icon-disk-remove { background-position: -1155px -373px; }
.big-icon-disk-save { background-position: -1017px -373px; }
.big-icon-disk-saved { background-position: -1109px -373px; }
.big-icon-dislikes { background-position: -2213px -5px; }
.big-icon-display { background-position: -1707px -51px; }
.big-icon-divide { background-position: -189px -235px; }
.big-icon-dog { background-position: -97px -5px; }
.big-icon-down-arrow { background-position: -741px -189px; }
.big-icon-download { background-position: -189px -189px; }
.big-icon-download-alt { background-position: -1569px -143px; }
.big-icon-dress { background-position: -1799px -327px; }
.big-icon-drink { background-position: -1293px -235px; }
.big-icon-dumbbell { background-position: -603px -327px; }
.big-icon-ear-plugs { background-position: -971px -143px; }
.big-icon-earphone { background-position: -51px -419px; }
.big-icon-edit { background-position: -143px -143px; }
.big-icon-eject { background-position: -1477px -143px; }
.big-icon-electrical-plug { background-position: -925px -235px; }
.big-icon-electrical-socket-eu { background-position: -1615px -327px; }
.big-icon-electrical-socket-us { background-position: -1661px -327px; }
.big-icon-electricity { background-position: -419px -189px; }
.big-icon-embed { background-position: -879px -97px; }
.big-icon-embed-close { background-position: -925px -97px; }
.big-icon-envelope { background-position: -465px -5px; }
.big-icon-euro { background-position: -1385px -189px; }
.big-icon-exit { background-position: -2075px -327px; }
.big-icon-expand { background-position: -1109px -327px; }
.big-icon-eye-close { background-position: -143px -51px; }
.big-icon-eye-open { background-position: -97px -51px; }
.big-icon-eyedropper { background-position: -1891px -51px; }
.big-icon-fabric { background-position: -1891px -235px; }
.big-icon-facetime-video { background-position: -1523px -143px; }
.big-icon-factory { background-position: -419px -419px; }
.big-icon-fast-backward { background-position: -1109px -143px; }
.big-icon-fast-food { background-position: -1385px -235px; }
.big-icon-fast-forward { background-position: -1385px -143px; }
.big-icon-fax { background-position: -373px -419px; }
.big-icon-female { background-position: -97px -235px; }
.big-icon-file { background-position: -1661px -5px; }
.big-icon-file-export { background-position: -741px -327px; }
.big-icon-file-import { background-position: -695px -327px; }
.big-icon-film { background-position: -373px -5px; }
.big-icon-filter { background-position: -1201px -281px; }
.big-icon-fins { background-position: -373px -235px; }
.big-icon-fire { background-position: -1017px -5px; }
.big-icon-fishes { background-position: -419px -235px; }
.big-icon-flag { background-position: -971px -235px; }
.big-icon-flash { background-position: -2075px -189px; }
.big-icon-floppy-disk { background-position: -97px -419px; }
.big-icon-floppy-open { background-position: -281px -419px; }
.big-icon-floppy-remove { background-position: -189px -419px; }
.big-icon-floppy-save { background-position: -235px -419px; }
.big-icon-floppy-saved { background-position: -143px -419px; }
.big-icon-flower { background-position: -741px -281px; }
.big-icon-folder-closed { background-position: -2213px -373px; }
.big-icon-folder-flag { background-position: -51px -143px; }
.big-icon-folder-lock { background-position: -5px -143px; }
.big-icon-folder-minus { background-position: -2213px -97px; }
.big-icon-folder-new { background-position: -97px -143px; }
.big-icon-folder-open { background-position: -2121px -97px; }
.big-icon-folder-plus { background-position: -2167px -97px; }
.big-icon-font { background-position: -97px -97px; }
.big-icon-forward { background-position: -1339px -143px; }
.big-icon-french-press { background-position: -2213px -235px; }
.big-icon-fullscreen { background-position: -281px -327px; }
.big-icon-gamepad { background-position: -1247px -281px; }
.big-icon-gbp { background-position: -1477px -189px; }
.big-icon-gift { background-position: -925px -51px; }
.big-icon-girl { background-position: -189px -5px; }
.big-icon-git-branch { background-position: -1385px -373px; }
.big-icon-git-commit { background-position: -1707px -373px; }
.big-icon-git-compare { background-position: -1661px -373px; }
.big-icon-git-create { background-position: -1431px -373px; }
.big-icon-git-delete { background-position: -1523px -373px; }
.big-icon-git-merge { background-position: -1569px -373px; }
.big-icon-git-private { background-position: -1477px -373px; }
.big-icon-git-pull-request { background-position: -1615px -373px; }
.big-icon-glass { background-position: -5px -5px; }
.big-icon-global { background-position: -1293px -327px; }
.big-icon-globe { background-position: -2121px -281px; }
.big-icon-globe-af { background-position: -1247px -327px; }
.big-icon-golf { background-position: -2029px -373px; }
.big-icon-golf-course { background-position: -465px -373px; }
.big-icon-google-maps { background-position: -2121px -189px; }
.big-icon-grater { background-position: -97px -281px; }
.big-icon-group { background-position: -1983px -5px; }
.big-icon-hand-down { background-position: -235px -327px; }
.big-icon-hand-left { background-position: -143px -327px; }
.big-icon-hand-right { background-position: -97px -327px; }
.big-icon-hand-saw { background-position: -1523px -327px; }
.big-icon-hand-up { background-position: -189px -327px; }
.big-icon-hdd { background-position: -2213px -281px; }
.big-icon-header { background-position: -833px -419px; }
.big-icon-headphones { background-position: -1247px -51px; }
.big-icon-headset { background-position: -1293px -51px; }
.big-icon-heart { background-position: -557px -5px; }
.big-icon-heart-empty { background-position: -879px -5px; }
.big-icon-heat { background-position: -1615px -51px; }
.big-icon-history { background-position: -373px -51px; }
.big-icon-hockey { background-position: -2075px -373px; }
.big-icon-home { background-position: -925px -5px; }
.big-icon-hospital { background-position: -189px -281px; }
.big-icon-hospital-h { background-position: -235px -281px; }
.big-icon-imac { background-position: -603px -143px; }
.big-icon-inbox { background-position: -1477px -97px; }
.big-icon-inbox-in { background-position: -1661px -97px; }
.big-icon-inbox-lock { background-position: -1615px -97px; }
.big-icon-inbox-minus { background-position: -1569px -97px; }
.big-icon-inbox-out { background-position: -1707px -97px; }
.big-icon-inbox-plus { background-position: -1523px -97px; }
.big-icon-ipad { background-position: -695px -143px; }
.big-icon-iphone { background-position: -741px -143px; }
.big-icon-iphone-exchange { background-position: -833px -143px; }
.big-icon-iphone-shake { background-position: -1937px -281px; }
.big-icon-iphone-transfer { background-position: -787px -143px; }
.big-icon-ipod { background-position: -879px -143px; }
.big-icon-ipod-shuffle { background-position: -925px -143px; }
.big-icon-italic { background-position: -143px -97px; }
.big-icon-justify { background-position: -695px -97px; }
.big-icon-kettle { background-position: -143px -281px; }
.big-icon-keyboard-wireless { background-position: -1109px -235px; }
.big-icon-keynote { background-position: -557px -51px; }
.big-icon-keys { background-position: -2029px -5px; }
.big-icon-kiosk { background-position: -557px -419px; }
.big-icon-kiosk-food { background-position: -695px -419px; }
.big-icon-kiosk-light { background-position: -649px -419px; }
.big-icon-kiosk-wheels { background-position: -603px -419px; }
.big-icon-leaf { background-position: -51px -5px; }
.big-icon-leather { background-position: -1937px -235px; }
.big-icon-left-arrow { background-position: -649px -189px; }
.big-icon-left-indent { background-position: -465px -97px; }
.big-icon-life-preserver { background-position: -603px -281px; }
.big-icon-lightbulb { background-position: -695px -51px; }
.big-icon-link { background-position: -51px -51px; }
.big-icon-list { background-position: -741px -97px; }
.big-icon-lock { background-position: -327px -189px; }
.big-icon-log-book { background-position: -1753px -51px; }
.big-icon-log-in { background-position: -1983px -327px; }
.big-icon-log-out { background-position: -2029px -327px; }
.big-icon-luggage { background-position: -1523px -5px; }
.big-icon-macbook { background-position: -649px -143px; }
.big-icon-magic { background-position: -419px -5px; }
.big-icon-magnet { background-position: -1063px -5px; }
.big-icon-male { background-position: -51px -235px; }
.big-icon-message-ban { background-position: -1293px -97px; }
.big-icon-message-empty { background-position: -1063px -97px; }
.big-icon-message-flag { background-position: -1339px -97px; }
.big-icon-message-forward { background-position: -1707px -327px; }
.big-icon-message-full { background-position: -1017px -97px; }
.big-icon-message-in { background-position: -1109px -97px; }
.big-icon-message-lock { background-position: -1385px -97px; }
.big-icon-message-minus { background-position: -1247px -97px; }
.big-icon-message-new { background-position: -1431px -97px; }
.big-icon-message-out { background-position: -1155px -97px; }
.big-icon-message-plus { background-position: -1201px -97px; }
.big-icon-microphone { background-position: -281px -281px; }
.big-icon-minus { background-position: -1891px -373px; }
.big-icon-money { background-position: -787px -419px; }
.big-icon-moon { background-position: -1569px -189px; }
.big-icon-more { background-position: -1845px -143px; }
.big-icon-more-items { background-position: -1109px -281px; }
.big-icon-more-windows { background-position: -327px -143px; }
.big-icon-move { background-position: -1799px -143px; }
.big-icon-music { background-position: -787px -5px; }
.big-icon-mute { background-position: -1615px -143px; }
.big-icon-nails { background-position: -1385px -327px; }
.big-icon-nameplate { background-position: -419px -327px; }
.big-icon-nameplate-alt { background-position: -465px -327px; }
.big-icon-new-window { background-position: -189px -143px; }
.big-icon-new-window-alt { background-position: -2121px -327px; }
.big-icon-note { background-position: -833px -5px; }
.big-icon-notes { background-position: -1799px -5px; }
.big-icon-notes-2 { background-position: -1339px -5px; }
.big-icon-ok { background-position: -97px -189px; }
.big-icon-ok-2 { background-position: -465px -189px; }
.big-icon-old-man { background-position: -1569px -5px; }
.big-icon-oxygen-bottle { background-position: -327px -235px; }
.big-icon-package { background-position: -879px -373px; }
.big-icon-pants { background-position: -1799px -235px; }
.big-icon-paperclip { background-position: -603px -51px; }
.big-icon-parents { background-position: -1109px -5px; }
.big-icon-pause { background-position: -1247px -143px; }
.big-icon-pen { background-position: -1799px -189px; }
.big-icon-pencil { background-position: -1385px -5px; }
.big-icon-phone-alt { background-position: -5px -419px; }
.big-icon-piano { background-position: -1477px -281px; }
.big-icon-picture { background-position: -1845px -97px; }
.big-icon-pie-chart { background-position: -1937px -5px; }
.big-icon-pin { background-position: -1937px -189px; }
.big-icon-pin-flag { background-position: -1983px -281px; }
.big-icon-pipe { background-position: -2121px -373px; }
.big-icon-pizza { background-position: -1477px -235px; }
.big-icon-play { background-position: -1201px -143px; }
.big-icon-play-button { background-position: -1109px -189px; }
.big-icon-playing-dices { background-position: -1293px -281px; }
.big-icon-playlist { background-position: -557px -143px; }
.big-icon-plus { background-position: -1845px -373px; }
.big-icon-podium { background-position: -1569px -281px; }
.big-icon-pool { background-position: -695px -235px; }
.big-icon-pot { background-position: -51px -281px; }
.big-icon-power { background-position: -649px -51px; }
.big-icon-print { background-position: -695px -5px; }
.big-icon-projector { background-position: -327px -51px; }
.big-icon-pushpin { background-position: -1891px -281px; }
.big-icon-qrcode { background-position: -603px -235px; }
.big-icon-rabbit { background-position: -2075px -281px; }
.big-icon-radar { background-position: -373px -373px; }
.big-icon-random { background-position: -1569px -51px; }
.big-icon-record { background-position: -1017px -143px; }
.big-icon-redo { background-position: -1937px -373px; }
.big-icon-refresh { background-position: -1477px -51px; }
.big-icon-registration-mark { background-position: -327px -373px; }
.big-icon-remove { background-position: -51px -189px; }
.big-icon-remove-2 { background-position: -511px -189px; }
.big-icon-repeat { background-position: -1661px -51px; }
.big-icon-resize-full { background-position: -879px -189px; }
.big-icon-resize-small { background-position: -833px -189px; }
.big-icon-restart { background-position: -1017px -327px; }
.big-icon-retweet { background-position: -1431px -51px; }
.big-icon-retweet-2 { background-position: -1523px -189px; }
.big-icon-rewind { background-position: -1155px -143px; }
.big-icon-riflescope { background-position: -1569px -327px; }
.big-icon-right-arrow { background-position: -695px -189px; }
.big-icon-right-indent { background-position: -511px -97px; }
.big-icon-ring { background-position: -1201px -235px; }
.big-icon-road { background-position: -1201px -5px; }
.big-icon-rotation-lock { background-position: -2029px -189px; }
.big-icon-roundabout { background-position: -1523px -51px; }
.big-icon-router { background-position: -2121px -5px; }
.big-icon-rugby { background-position: -833px -281px; }
.big-icon-ruller { background-position: -879px -51px; }
.big-icon-sampler { background-position: -1523px -281px; }
.big-icon-saw-blade { background-position: -925px -419px; }
.big-icon-scissors { background-position: -1983px -235px; }
.big-icon-screenshot { background-position: -1753px -143px; }
.big-icon-scuba-diving { background-position: -281px -235px; }
.big-icon-search { background-position: -1247px -5px; }
.big-icon-security-camera { background-position: -1063px -327px; }
.big-icon-send { background-position: -1339px -373px; }
.big-icon-server { background-position: -1017px -419px; }
.big-icon-server-ban { background-position: -1155px -419px; }
.big-icon-server-flag { background-position: -1201px -419px; }
.big-icon-server-lock { background-position: -1247px -419px; }
.big-icon-server-minus { background-position: -1109px -419px; }
.big-icon-server-new { background-position: -1293px -419px; }
.big-icon-server-plus { background-position: -1063px -419px; }
.big-icon-settings { background-position: -1615px -235px; }
.big-icon-share { background-position: -1201px -189px; }
.big-icon-share-alt { background-position: -649px -281px; }
.big-icon-sheriffs-star { background-position: -557px -235px; }
.big-icon-shield { background-position: -1155px -235px; }
.big-icon-shirt { background-position: -1891px -327px; }
.big-icon-shoe-steps { background-position: -1799px -373px; }
.big-icon-shop { background-position: -511px -419px; }
.big-icon-shop-window { background-position: -465px -419px; }
.big-icon-shopping-bag { background-position: -327px -327px; }
.big-icon-shopping-cart { background-position: -281px -189px; }
.big-icon-show-big-thumbnails { background-position: -373px -143px; }
.big-icon-show-lines { background-position: -511px -143px; }
.big-icon-show-thumbnails { background-position: -419px -143px; }
.big-icon-show-thumbnails-with-lines { background-position: -465px -143px; }
.big-icon-signal { background-position: -1385px -51px; }
.big-icon-skateboard { background-position: -419px -373px; }
.big-icon-skull { background-position: -2075px -235px; }
.big-icon-smoking { background-position: -879px -327px; }
.big-icon-snorkel-diving { background-position: -235px -235px; }
.big-icon-snowflake { background-position: -971px -5px; }
.big-icon-soccer-ball { background-position: -1615px -281px; }
.big-icon-sort { background-position: -1155px -281px; }
.big-icon-sort-by-alphabet { background-position: -557px -373px; }
.big-icon-sort-by-alphabet-alt { background-position: -603px -373px; }
.big-icon-sort-by-attributes { background-position: -741px -373px; }
.big-icon-sort-by-attributes-alt { background-position: -787px -373px; }
.big-icon-sort-by-order { background-position: -649px -373px; }
.big-icon-sort-by-order-alt { background-position: -695px -373px; }
.big-icon-sorting { background-position: -511px -373px; }
.big-icon-sound-5-1 { background-position: -143px -373px; }
.big-icon-sound-6-1 { background-position: -189px -373px; }
.big-icon-sound-7-1 { background-position: -235px -373px; }
.big-icon-sound-dolby { background-position: -97px -373px; }
.big-icon-sound-stereo { background-position: -51px -373px; }
.big-icon-spade { background-position: -787px -235px; }
.big-icon-spray { background-position: -1339px -327px; }
.big-icon-star { background-position: -5px -51px; }
.big-icon-stats { background-position: -1845px -5px; }
.big-icon-step-backward { background-position: -1063px -143px; }
.big-icon-step-forward { background-position: -1431px -143px; }
.big-icon-stop { background-position: -1293px -143px; }
.big-icon-stopwatch { background-position: -281px -51px; }
.big-icon-stroller { background-position: -1201px -51px; }
.big-icon-subtitles { background-position: -5px -373px; }
.big-icon-suitcase { background-position: -649px -327px; }
.big-icon-sun { background-position: -1615px -189px; }
.big-icon-sweater { background-position: -1845px -235px; }
.big-icon-t-shirt { background-position: -1753px -235px; }
.big-icon-table { background-position: -971px -97px; }
.big-icon-table-tennis { background-position: -925px -281px; }
.big-icon-tablet { background-position: -1569px -235px; }
.big-icon-tag { background-position: -741px -51px; }
.big-icon-tags { background-position: -787px -51px; }
.big-icon-tea-kettle { background-position: -2167px -235px; }
.big-icon-temple-buddhist { background-position: -511px -281px; }
.big-icon-temple-christianity-church { background-position: -373px -281px; }
.big-icon-temple-hindu { background-position: -465px -281px; }
.big-icon-temple-islam { background-position: -419px -281px; }
.big-icon-text-bigger { background-position: -833px -97px; }
.big-icon-text-height { background-position: -327px -97px; }
.big-icon-text-resize { background-position: -419px -97px; }
.big-icon-text-smaller { background-position: -787px -97px; }
.big-icon-text-strike { background-position: -281px -97px; }
.big-icon-text-underline { background-position: -235px -97px; }
.big-icon-text-width { background-position: -373px -97px; }
.big-icon-thumbs-down { background-position: -51px -327px; }
.big-icon-thumbs-up { background-position: -5px -327px; }
.big-icon-tie { background-position: -1385px -281px; }
.big-icon-tint { background-position: -1983px -51px; }
.big-icon-tower { background-position: -1293px -373px; }
.big-icon-train { background-position: -649px -5px; }
.big-icon-transfer { background-position: -741px -419px; }
.big-icon-translate { background-position: -327px -419px; }
.big-icon-tree-conifer { background-position: -1017px -281px; }
.big-icon-tree-deciduous { background-position: -1063px -281px; }
.big-icon-truck { background-position: -419px -51px; }
.big-icon-turtle { background-position: -2029px -281px; }
.big-icon-umbrella { background-position: -971px -51px; }
.big-icon-unchecked { background-position: -281px -143px; }
.big-icon-underwear { background-position: -1937px -327px; }
.big-icon-undo { background-position: -1983px -373px; }
.big-icon-unlock { background-position: -373px -189px; }
.big-icon-unshare { background-position: -1155px -189px; }
.big-icon-up-arrow { background-position: -787px -189px; }
.big-icon-upload { background-position: -235px -189px; }
.big-icon-usd { background-position: -1431px -189px; }
.big-icon-user { background-position: -143px -5px; }
.big-icon-user-add { background-position: -281px -5px; }
.big-icon-user-remove { background-position: -327px -5px; }
.big-icon-vases { background-position: -511px -327px; }
.big-icon-vcard { background-position: -879px -235px; }
.big-icon-vector-path-all { background-position: -51px -97px; }
.big-icon-vector-path-circle { background-position: -2121px -51px; }
.big-icon-vector-path-curve { background-position: -5px -97px; }
.big-icon-vector-path-line { background-position: -2213px -51px; }
.big-icon-vector-path-polygon { background-position: -2167px -51px; }
.big-icon-vector-path-square { background-position: -2075px -51px; }
.big-icon-video-hd { background-position: -2213px -327px; }
.big-icon-video-sd { background-position: -2167px -327px; }
.big-icon-volume-down { background-position: -1661px -143px; }
.big-icon-volume-up { background-position: -1707px -143px; }
.big-icon-wallet { background-position: -1431px -281px; }
.big-icon-warning-sign { background-position: -1339px -51px; }
.big-icon-webcam { background-position: -327px -281px; }
.big-icon-wifi { background-position: -1109px -51px; }
.big-icon-wifi-alt { background-position: -1477px -5px; }
.big-icon-woman { background-position: -1615px -5px; }
.big-icon-wrench { background-position: -2167px -373px; }
.big-icon-zoom-in { background-position: -1845px -189px; }
.big-icon-zoom-out { background-position: -1891px -189px; }
