[class^="big-icon-"],
[class*=" big-icon-"] {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: text-top;
  background-image: image-url("glyphicons-pro.png");
  background-position: 36px 36px;
  background-repeat: no-repeat;
  margin-right: .3em;
}
[class^="big-icon-"]:last-child,
[class*=" big-icon-"]:last-child {
  margin-left: 0;
}
 
.big-icon-eject { background-position: -0px -0px; }
.big-icon-piano { background-position: -36px -0px; }
.big-icon-flash { background-position: -72px -0px; }
.big-icon-history { background-position: -108px -0px; }
.big-icon-electrical-socket-eu { background-position: -144px -0px; }
.big-icon-flower { background-position: -180px -0px; }
.big-icon-database-minus { background-position: -216px -0px; }
.big-icon-behance { background-position: -252px -0px; }
.big-icon-camera-small { background-position: -288px -0px; }
.big-icon-hospital { background-position: -324px -0px; }
.big-icon-heart { background-position: -360px -0px; }
.big-icon-wifi-alt { background-position: -396px -0px; }
.big-icon-beach-umbrella { background-position: -432px -0px; }
.big-icon-announcement { background-position: -468px -0px; }
.big-icon-french-press { background-position: -504px -0px; }
.big-icon-brush { background-position: -540px -0px; }
.big-icon-stroller { background-position: -576px -0px; }
.big-icon-rabbit { background-position: -612px -0px; }
.big-icon-folder-minus { background-position: -648px -0px; }
.big-icon-google-maps { background-position: -684px -0px; }
.big-icon-pie-chart { background-position: -0px -36px; }
.big-icon-conversation { background-position: -36px -36px; }
.big-icon-baseball { background-position: -72px -36px; }
.big-icon-circle-remove { background-position: -108px -36px; }
.big-icon-bullets { background-position: -144px -36px; }
.big-icon-share { background-position: -180px -36px; }
.big-icon-suitcase { background-position: -216px -36px; }
.big-icon-pin { background-position: -252px -36px; }
.big-icon-play-button { background-position: -288px -36px; }
.big-icon-facetime-video { background-position: -324px -36px; }
.big-icon-temple-buddhist { background-position: -360px -36px; }
.big-icon-thin-arrow-left { background-position: -396px -36px; }
.big-icon-anchor { background-position: -432px -36px; }
.big-icon-parents { background-position: -468px -36px; }
.big-icon-rotation-lock { background-position: -504px -36px; }
.big-icon-pencil { background-position: -540px -36px; }
.big-icon-font { background-position: -576px -36px; }
.big-icon-file-export { background-position: -612px -36px; }
.big-icon-temple-christianity-church { background-position: -648px -36px; }
.big-icon-user-remove { background-position: -684px -36px; }
.big-icon-random { background-position: -0px -72px; }
.big-icon-ring { background-position: -36px -72px; }
.big-icon-ipod-shuffle { background-position: -72px -72px; }
.big-icon-music { background-position: -108px -72px; }
.big-icon-fast-forward { background-position: -144px -72px; }
.big-icon-pool { background-position: -180px -72px; }
.big-icon-database-lock { background-position: -216px -72px; }
.big-icon-lock { background-position: -252px -72px; }
.big-icon-usd { background-position: -288px -72px; }
.big-icon-wordpress { background-position: -324px -72px; }
.big-icon-tablet { background-position: -360px -72px; }
.big-icon-screenshot { background-position: -396px -72px; }
.big-icon-mute { background-position: -432px -72px; }
.big-icon-message-out { background-position: -468px -72px; }
.big-icon-more-items { background-position: -504px -72px; }
.big-icon-tags { background-position: -540px -72px; }
.big-icon-riflescope { background-position: -576px -72px; }
.big-icon-fire { background-position: -612px -72px; }
.big-icon-nameplate-alt { background-position: -648px -72px; }
.big-icon-ban { background-position: -684px -72px; }
.big-icon-message-flag { background-position: -0px -108px; }
.big-icon-ipad { background-position: -36px -108px; }
.big-icon-globe { background-position: -72px -108px; }
.big-icon-unlock { background-position: -108px -108px; }
.big-icon-woman { background-position: -144px -108px; }
.big-icon-spootify { background-position: -180px -108px; }
.big-icon-fabric { background-position: -216px -108px; }
.big-icon-circle-arrow-left { background-position: -252px -108px; }
.big-icon-shopping-cart { background-position: -288px -108px; }
.big-icon-left-indent { background-position: -324px -108px; }
.big-icon-remove { background-position: -360px -108px; }
.big-icon-last-fm { background-position: -396px -108px; }
.big-icon-compass { background-position: -432px -108px; }
.big-icon-upload { background-position: -468px -108px; }
.big-icon-message-plus { background-position: -504px -108px; }
.big-icon-router { background-position: -540px -108px; }
.big-icon-snowflake { background-position: -576px -108px; }
.big-icon-cake { background-position: -612px -108px; }
.big-icon-forward { background-position: -648px -108px; }
.big-icon-podium { background-position: -684px -108px; }
.big-icon-database-ban { background-position: -0px -144px; }
.big-icon-truck { background-position: -36px -144px; }
.big-icon-cup { background-position: -72px -144px; }
.big-icon-hand-up { background-position: -108px -144px; }
.big-icon-forrst { background-position: -144px -144px; }
.big-icon-dislikes { background-position: -180px -144px; }
.big-icon-bin { background-position: -216px -144px; }
.big-icon-deviantart { background-position: -252px -144px; }
.big-icon-dumbbell { background-position: -288px -144px; }
.big-icon-retweet-2 { background-position: -324px -144px; }
.big-icon-temple-hindu { background-position: -360px -144px; }
.big-icon-iphone-transfer { background-position: -396px -144px; }
.big-icon-pin-flag { background-position: -432px -144px; }
.big-icon-edit { background-position: -468px -144px; }
.big-icon-temple-islam { background-position: -504px -144px; }
.big-icon-sweater { background-position: -540px -144px; }
.big-icon-download { background-position: -576px -144px; }
.big-icon-envelope { background-position: -612px -144px; }
.big-icon-show-big-thumbnails { background-position: -648px -144px; }
.big-icon-circle-arrow-top { background-position: -684px -144px; }
.big-icon-adjust { background-position: -0px -180px; }
.big-icon-dashboard { background-position: -36px -180px; }
.big-icon-settings { background-position: -72px -180px; }
.big-icon-user-add { background-position: -108px -180px; }
.big-icon-ear-plugs { background-position: -144px -180px; }
.big-icon-circle-arrow-right { background-position: -180px -180px; }
.big-icon-twitter-t { background-position: -216px -180px; }
.big-icon-more { background-position: -252px -180px; }
.big-icon-headset { background-position: -288px -180px; }
.big-icon-charts { background-position: -324px -180px; }
.big-icon-star { background-position: -360px -180px; }
.big-icon-volume-down { background-position: -396px -180px; }
.big-icon-warning-sign { background-position: -432px -180px; }
.big-icon-embed { background-position: -468px -180px; }
.big-icon-certificate { background-position: -504px -180px; }
.big-icon-vector-path-circle { background-position: -540px -180px; }
.big-icon-moon { background-position: -576px -180px; }
.big-icon-show-lines { background-position: -612px -180px; }
.big-icon-old-man { background-position: -648px -180px; }
.big-icon-electrical-socket-us { background-position: -684px -180px; }
.big-icon-asterisk { background-position: -0px -216px; }
.big-icon-circle-question-mark { background-position: -36px -216px; }
.big-icon-vcard { background-position: -72px -216px; }
.big-icon-sheriffs-star { background-position: -108px -216px; }
.big-icon-birthday-cake { background-position: -144px -216px; }
.big-icon-inbox-minus { background-position: -180px -216px; }
.big-icon-log-book { background-position: -216px -216px; }
.big-icon-pinterest { background-position: -252px -216px; }
.big-icon-google-alt { background-position: -288px -216px; }
.big-icon-euro { background-position: -324px -216px; }
.big-icon-eye-open { background-position: -360px -216px; }
.big-icon-signal { background-position: -396px -216px; }
.big-icon-file { background-position: -432px -216px; }
.big-icon-fast-food { background-position: -468px -216px; }
.big-icon-message-empty { background-position: -504px -216px; }
.big-icon-leaf { background-position: -540px -216px; }
.big-icon-sampler { background-position: -576px -216px; }
.big-icon-rugby { background-position: -612px -216px; }
.big-icon-message-lock { background-position: -648px -216px; }
.big-icon-dribbble { background-position: -684px -216px; }
.big-icon-leather { background-position: -0px -252px; }
.big-icon-clock { background-position: -36px -252px; }
.big-icon-circle-ok { background-position: -72px -252px; }
.big-icon-show-thumbnails { background-position: -108px -252px; }
.big-icon-ok { background-position: -144px -252px; }
.big-icon-magnet { background-position: -180px -252px; }
.big-icon-fullscreen { background-position: -216px -252px; }
.big-icon-circle-exclamation-mark { background-position: -252px -252px; }
.big-icon-youtube { background-position: -288px -252px; }
.big-icon-volume-up { background-position: -324px -252px; }
.big-icon-binoculars { background-position: -360px -252px; }
.big-icon-display { background-position: -396px -252px; }
.big-icon-facebook { background-position: -432px -252px; }
.big-icon-cardio { background-position: -468px -252px; }
.big-icon-linked-in { background-position: -504px -252px; }
.big-icon-text-height { background-position: -540px -252px; }
.big-icon-microphone { background-position: -576px -252px; }
.big-icon-macbook { background-position: -612px -252px; }
.big-icon-remove-2 { background-position: -648px -252px; }
.big-icon-blog { background-position: -684px -252px; }
.big-icon-repeat { background-position: -0px -288px; }
.big-icon-cleaning { background-position: -36px -288px; }
.big-icon-rewind { background-position: -72px -288px; }
.big-icon-wallet { background-position: -108px -288px; }
.big-icon-fins { background-position: -144px -288px; }
.big-icon-circle-info { background-position: -180px -288px; }
.big-icon-cutlery { background-position: -216px -288px; }
.big-icon-umbrella { background-position: -252px -288px; }
.big-icon-signal { background-position: -288px -288px; }
.big-icon-iphone-exchange { background-position: -324px -288px; }
.big-icon-direction { background-position: -360px -288px; }
.big-icon-thin-right-arrow { background-position: -396px -288px; }
.big-icon-dropbox { background-position: -432px -288px; }
.big-icon-bp { background-position: -468px -288px; }
.big-icon-yahoo { background-position: -504px -288px; }
.big-icon-folder-lock { background-position: -540px -288px; }
.big-icon-quora { background-position: -576px -288px; }
.big-icon-folder-new { background-position: -612px -288px; }
.big-icon-shopping-bag { background-position: -648px -288px; }
.big-icon-iphone { background-position: -684px -288px; }
.big-icon-table { background-position: -0px -324px; }
.big-icon-vector-path-line { background-position: -36px -324px; }
.big-icon-cart-out { background-position: -72px -324px; }
.big-icon-message-minus { background-position: -108px -324px; }
.big-icon-barcode { background-position: -144px -324px; }
.big-icon-keynote { background-position: -180px -324px; }
.big-icon-vector-path-curve { background-position: -216px -324px; }
.big-icon-message-ban { background-position: -252px -324px; }
.big-icon-pen { background-position: -288px -324px; }
.big-icon-tint { background-position: -324px -324px; }
.big-icon-zoom-in { background-position: -360px -324px; }
.big-icon-electrical-plug { background-position: -396px -324px; }
.big-icon-buoy { background-position: -432px -324px; }
.big-icon-cargo { background-position: -468px -324px; }
.big-icon-align-left { background-position: -504px -324px; }
.big-icon-keys { background-position: -540px -324px; }
.big-icon-text-underline { background-position: -576px -324px; }
.big-icon-align-right { background-position: -612px -324px; }
.big-icon-up-arrow { background-position: -648px -324px; }
.big-icon-thumbs-down { background-position: -684px -324px; }
.big-icon-sort { background-position: -0px -360px; }
.big-icon-computer-proces { background-position: -36px -360px; }
.big-icon-book { background-position: -72px -360px; }
.big-icon-inbox-out { background-position: -108px -360px; }
.big-icon-circle-plus { background-position: -144px -360px; }
.big-icon-flag { background-position: -180px -360px; }
.big-icon-spade { background-position: -216px -360px; }
.big-icon-thumbs-up { background-position: -252px -360px; }
.big-icon-ruller { background-position: -288px -360px; }
.big-icon-skype { background-position: -324px -360px; }
.big-icon-hand-down { background-position: -360px -360px; }
.big-icon-cogwheels { background-position: -396px -360px; }
.big-icon-stats { background-position: -432px -360px; }
.big-icon-hdd { background-position: -468px -360px; }
.big-icon-oxygen-bottle { background-position: -504px -360px; }
.big-icon-bank { background-position: -540px -360px; }
.big-icon-e-mail { background-position: -576px -360px; }
.big-icon-skull { background-position: -612px -360px; }
.big-icon-pin-classic { background-position: -648px -360px; }
.big-icon-bus { background-position: -684px -360px; }
.big-icon-retweet { background-position: -0px -396px; }
.big-icon-luggage { background-position: -36px -396px; }
.big-icon-new-window { background-position: -72px -396px; }
.big-icon-jolicloud { background-position: -108px -396px; }
.big-icon-italic { background-position: -144px -396px; }
.big-icon-cart-in { background-position: -180px -396px; }
.big-icon-t-shirt { background-position: -216px -396px; }
.big-icon-amazon { background-position: -252px -396px; }
.big-icon-web-browser { background-position: -288px -396px; }
.big-icon-gift { background-position: -324px -396px; }
.big-icon-female { background-position: -360px -396px; }
.big-icon-grater { background-position: -396px -396px; }
.big-icon-qrcode { background-position: -432px -396px; }
.big-icon-drink { background-position: -468px -396px; }
.big-icon-headphones { background-position: -504px -396px; }
.big-icon-bowling { background-position: -540px -396px; }
.big-icon-flickr { background-position: -576px -396px; }
.big-icon-candle { background-position: -612px -396px; }
.big-icon-4square { background-position: -648px -396px; }
.big-icon-coffe-cup { background-position: -684px -396px; }
.big-icon-tree-deciduous { background-position: -0px -432px; }
.big-icon-credit-card { background-position: -36px -432px; }
.big-icon-resize-full { background-position: -72px -432px; }
.big-icon-glass { background-position: -108px -432px; }
.big-icon-bell { background-position: -144px -432px; }
.big-icon-boat { background-position: -180px -432px; }
.big-icon-hospital-h { background-position: -216px -432px; }
.big-icon-picture { background-position: -252px -432px; }
.big-icon-brightness-increase { background-position: -288px -432px; }
.big-icon-briefcase { background-position: -324px -432px; }
.big-icon-message-full { background-position: -360px -432px; }
.big-icon-film { background-position: -396px -432px; }
.big-icon-move { background-position: -432px -432px; }
.big-icon-ipod { background-position: -468px -432px; }
.big-icon-magic { background-position: -504px -432px; }
.big-icon-note { background-position: -540px -432px; }
.big-icon-group { background-position: -576px -432px; }
.big-icon-adjust { background-position: -612px -432px; }
.big-icon-right-arrow { background-position: -648px -432px; }
.big-icon-text-resize { background-position: -684px -432px; }
.big-icon-albums { background-position: -0px -468px; }
.big-icon-notes-2 { background-position: -36px -468px; }
.big-icon-inbox { background-position: -72px -468px; }
.big-icon-calculator { background-position: -108px -468px; }
.big-icon-beer { background-position: -144px -468px; }
.big-icon-bookmark { background-position: -180px -468px; }
.big-icon-zoom-out { background-position: -216px -468px; }
.big-icon-instapaper { background-position: -252px -468px; }
.big-icon-circle-arrow-down { background-position: -288px -468px; }
.big-icon-notes { background-position: -324px -468px; }
.big-icon-gamepad { background-position: -360px -468px; }
.big-icon-show-thumbnails-with-lines { background-position: -396px -468px; }
.big-icon-tie { background-position: -432px -468px; }
.big-icon-turtle { background-position: -468px -468px; }
.big-icon-pause { background-position: -504px -468px; }
.big-icon-calendar { background-position: -540px -468px; }
.big-icon-keyboard-wired { background-position: -576px -468px; }
.big-icon-print { background-position: -612px -468px; }
.big-icon-read-it-later { background-position: -648px -468px; }
.big-icon-more-windows { background-position: -684px -468px; }
.big-icon-vector-path-square { background-position: -0px -504px; }
.big-icon-kettle { background-position: -36px -504px; }
.big-icon-adress-book { background-position: -72px -504px; }
.big-icon-tea-kettle { background-position: -108px -504px; }
.big-icon-comments { background-position: -144px -504px; }
.big-icon-folder-plus { background-position: -180px -504px; }
.big-icon-tree-conifer { background-position: -216px -504px; }
.big-icon-user { background-position: -252px -504px; }
.big-icon-phone { background-position: -288px -504px; }
.big-icon-keyboard-wireless { background-position: -324px -504px; }
.big-icon-stumbleupon { background-position: -360px -504px; }
.big-icon-step-backward { background-position: -396px -504px; }
.big-icon-github { background-position: -432px -504px; }
.big-icon-stopwatch { background-position: -468px -504px; }
.big-icon-buzz { background-position: -504px -504px; }
.big-icon-tumblr { background-position: -540px -504px; }
.big-icon-xing { background-position: -576px -504px; }
.big-icon-evernote { background-position: -612px -504px; }
.big-icon-left-arrow { background-position: -648px -504px; }
.big-icon-filter { background-position: -684px -504px; }
.big-icon-search { background-position: -0px -540px; }
.big-icon-vector-path-all { background-position: -36px -540px; }
.big-icon-brightness-reduce { background-position: -72px -540px; }
.big-icon-download-alt { background-position: -108px -540px; }
.big-icon-nameplate { background-position: -144px -540px; }
.big-icon-share { background-position: -180px -540px; }
.big-icon-play { background-position: -216px -540px; }
.big-icon-home { background-position: -252px -540px; }
.big-icon-message-in { background-position: -288px -540px; }
.big-icon-fishes { background-position: -324px -540px; }
.big-icon-unshare { background-position: -360px -540px; }
.big-icon-skitch { background-position: -396px -540px; }
.big-icon-vases { background-position: -432px -540px; }
.big-icon-playing-dices { background-position: -468px -540px; }
.big-icon-bluetooth { background-position: -504px -540px; }
.big-icon-imac { background-position: -540px -540px; }
.big-icon-picasa { background-position: -576px -540px; }
.big-icon-resize-small { background-position: -612px -540px; }
.big-icon-google-plus { background-position: -648px -540px; }
.big-icon-hand-right { background-position: -684px -540px; }
.big-icon-delete-point { background-position: -0px -576px; }
.big-icon-fast-backward { background-position: -36px -576px; }
.big-icon-readability { background-position: -72px -576px; }
.big-icon-text-bigger { background-position: -108px -576px; }
.big-icon-shield { background-position: -144px -576px; }
.big-icon-file-import { background-position: -180px -576px; }
.big-icon-girl { background-position: -216px -576px; }
.big-icon-blogger { background-position: -252px -576px; }
.big-icon-align-center { background-position: -288px -576px; }
.big-icon-train { background-position: -324px -576px; }
.big-icon-check { background-position: -360px -576px; }
.big-icon-dog { background-position: -396px -576px; }
.big-icon-webcam { background-position: -432px -576px; }
.big-icon-ax { background-position: -468px -576px; }
.big-icon-zootool { background-position: -504px -576px; }
.big-icon-bomb { background-position: -540px -576px; }
.big-icon-embed-close { background-position: -576px -576px; }
.big-icon-computer-locked { background-position: -612px -576px; }
.big-icon-twitter { background-position: -648px -576px; }
.big-icon-power { background-position: -684px -576px; }
.big-icon-cars { background-position: -0px -612px; }
.big-icon-divide { background-position: -36px -612px; }
.big-icon-camera { background-position: -72px -612px; }
.big-icon-cloud { background-position: -108px -612px; }
.big-icon-chat { background-position: -144px -612px; }
.big-icon-list { background-position: -180px -612px; }
.big-icon-hand-left { background-position: -216px -612px; }
.big-icon-message-new { background-position: -252px -612px; }
.big-icon-road { background-position: -288px -612px; }
.big-icon-pot { background-position: -324px -612px; }
.big-icon-projector { background-position: -360px -612px; }
.big-icon-ok-2 { background-position: -396px -612px; }
.big-icon-database-plus { background-position: -432px -612px; }
.big-icon-scissors { background-position: -468px -612px; }
.big-icon-roundabout { background-position: -504px -612px; }
.big-icon-attach { background-position: -540px -612px; }
.big-icon-link { background-position: -576px -612px; }
.big-icon-vector-path-polygon { background-position: -612px -612px; }
.big-icon-pants { background-position: -648px -612px; }
.big-icon-folder-flag { background-position: -684px -612px; }
.big-icon-airplane { background-position: -0px -648px; }
.big-icon-inbox-lock { background-position: -36px -648px; }
.big-icon-table-tennis { background-position: -72px -648px; }
.big-icon-pizza { background-position: -108px -648px; }
.big-icon-cogwheel { background-position: -144px -648px; }
.big-icon-step-forward { background-position: -180px -648px; }
.big-icon-playlist { background-position: -216px -648px; }
.big-icon-sun { background-position: -252px -648px; }
.big-icon-lightbulb { background-position: -288px -648px; }
.big-icon-text-smaller { background-position: -324px -648px; }
.big-icon-book-open { background-position: -360px -648px; }
.big-icon-computer-service { background-position: -396px -648px; }
.big-icon-scuba-diving { background-position: -432px -648px; }
.big-icon-tag { background-position: -468px -648px; }
.big-icon-heat { background-position: -504px -648px; }
.big-icon-credit { background-position: -540px -648px; }
.big-icon-male { background-position: -576px -648px; }
.big-icon-electricity { background-position: -612px -648px; }
.big-icon-refresh { background-position: -648px -648px; }
.big-icon-snorkel-diving { background-position: -684px -648px; }
.big-icon-stop { background-position: -0px -684px; }
.big-icon-inbox-in { background-position: -36px -684px; }
.big-icon-alarm { background-position: -72px -684px; }
.big-icon-text-width { background-position: -108px -684px; }
.big-icon-rss { background-position: -144px -684px; }
.big-icon-vimeo { background-position: -180px -684px; }
.big-icon-iphone-shake { background-position: -216px -684px; }
.big-icon-down-arrow { background-position: -252px -684px; }
.big-icon-eye-close { background-position: -288px -684px; }
.big-icon-celebration { background-position: -324px -684px; }
.big-icon-crop { background-position: -360px -684px; }
.big-icon-car { background-position: -396px -684px; }
.big-icon-inbox-plus { background-position: -432px -684px; }
.big-icon-folder-open { background-position: -468px -684px; }
.big-icon-circle-minus { background-position: -504px -684px; }
.big-icon-text-strike { background-position: -540px -684px; }
.big-icon-right-indent { background-position: -576px -684px; }
.big-icon-justify { background-position: -612px -684px; }
.big-icon-pinboard { background-position: -648px -684px; }
.big-icon-bold { background-position: -684px -684px; }
