[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 36px;
  vertical-align: text-top;
  background-image: url("glyphicons.png");
  background-position: 36px 36px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("glyphicons-white.png");
}

.icon-address-book { background-position: -1799px -51px; }
.icon-adjust { background-position: -1937px -51px; }
.icon-adjust-alt { background-position: -1891px -97px; }
.icon-airplane { background-position: -1753px -5px; }
.icon-alarm { background-position: -189px -51px; }
.icon-albums { background-position: -1983px -189px; }
.icon-align-center { background-position: -603px -97px; }
.icon-align-left { background-position: -557px -97px; }
.icon-align-right { background-position: -649px -97px; }
.icon-anchor { background-position: -2167px -189px; }
.icon-asterisk { background-position: -143px -235px; }
.icon-ax { background-position: -879px -281px; }
.icon-ban { background-position: -143px -189px; }
.icon-bank { background-position: -833px -235px; }
.icon-barcode { background-position: -649px -235px; }
.icon-baseball { background-position: -787px -281px; }
.icon-basketball { background-position: -971px -419px; }
.icon-bathrobe { background-position: -1845px -327px; }
.icon-beach-umbrella { background-position: -603px -5px; }
.icon-beer { background-position: -1339px -235px; }
.icon-bell { background-position: -1799px -281px; }
.icon-bicycle { background-position: -557px -281px; }
.icon-bin { background-position: -741px -5px; }
.icon-binoculars { background-position: -1155px -5px; }
.icon-birthday-cake { background-position: -1523px -235px; }
.icon-blacksmith { background-position: -879px -419px; }
.icon-blog { background-position: -1661px -281px; }
.icon-bluetooth { background-position: -1339px -189px; }
.icon-boat { background-position: -465px -235px; }
.icon-bold { background-position: -189px -97px; }
.icon-bomb { background-position: -2029px -235px; }
.icon-book { background-position: -1017px -51px; }
.icon-book-open { background-position: -373px -327px; }
.icon-bookmark { background-position: -1063px -51px; }
.icon-bowling { background-position: -971px -281px; }
.icon-briefcase { background-position: -2167px -281px; }
.icon-brightness-increase { background-position: -1937px -143px; }
.icon-brightness-reduce { background-position: -1891px -143px; }
.icon-brush { background-position: -1753px -189px; }
.icon-bug { background-position: -787px -327px; }
.icon-building { background-position: -1845px -51px; }
.icon-bullets { background-position: -1661px -235px; }
.icon-bullhorn { background-position: -557px -327px; }
.icon-buoy { background-position: -741px -235px; }
.icon-bus { background-position: -1431px -5px; }
.icon-cake { background-position: -1247px -235px; }
.icon-calculator { background-position: -1339px -281px; }
.icon-calendar { background-position: -2075px -5px; }
.icon-camera { background-position: -511px -5px; }
.icon-camera-small { background-position: -2167px -5px; }
.icon-candle { background-position: -1845px -281px; }
.icon-car { background-position: -235px -5px; }
.icon-cardio { background-position: -1707px -235px; }
.icon-cargo { background-position: -465px -51px; }
.icon-cars { background-position: -1293px -5px; }
.icon-cart-in { background-position: -603px -189px; }
.icon-cart-out { background-position: -557px -189px; }
.icon-celebration { background-position: -2121px -235px; }
.icon-certificate { background-position: -1753px -281px; }
.icon-charts { background-position: -1891px -5px; }
.icon-chat { background-position: -5px -235px; }
.icon-check { background-position: -235px -143px; }
.icon-chevron-left { background-position: -1293px -189px; }
.icon-chevron-right { background-position: -1247px -189px; }
.icon-circle-arrow-down { background-position: -1063px -189px; }
.icon-circle-arrow-left { background-position: -925px -189px; }
.icon-circle-arrow-right { background-position: -971px -189px; }
.icon-circle-arrow-top { background-position: -1017px -189px; }
.icon-circle-exclamation-mark { background-position: -5px -189px; }
.icon-circle-info { background-position: -2213px -143px; }
.icon-circle-minus { background-position: -2029px -143px; }
.icon-circle-ok { background-position: -2121px -143px; }
.icon-circle-plus { background-position: -1983px -143px; }
.icon-circle-question-mark { background-position: -2167px -143px; }
.icon-circle-remove { background-position: -2075px -143px; }
.icon-classic-hammer { background-position: -1477px -327px; }
.icon-claw-hammer { background-position: -1431px -327px; }
.icon-cleaning { background-position: -833px -51px; }
.icon-clock { background-position: -235px -51px; }
.icon-cloud { background-position: -1661px -189px; }
.icon-cloud-download { background-position: -971px -327px; }
.icon-cloud-minus { background-position: -971px -373px; }
.icon-cloud-plus { background-position: -925px -373px; }
.icon-cloud-upload { background-position: -925px -327px; }
.icon-coat-hanger { background-position: -1753px -327px; }
.icon-coffe-cup { background-position: -5px -281px; }
.icon-cogwheel { background-position: -1753px -97px; }
.icon-cogwheels { background-position: -1799px -97px; }
.icon-coins { background-position: -1707px -5px; }
.icon-collapse { background-position: -1155px -327px; }
.icon-collapse-top { background-position: -1201px -327px; }
.icon-comments { background-position: -695px -281px; }
.icon-compass { background-position: -511px -51px; }
.icon-compressed { background-position: -833px -373px; }
.icon-construction-cone { background-position: -1753px -373px; }
.icon-conversation { background-position: -2213px -189px; }
.icon-copyright-mark { background-position: -281px -373px; }
.icon-credit-card { background-position: -1017px -235px; }
.icon-crop { background-position: -2029px -51px; }
.icon-crown { background-position: -833px -327px; }
.icon-cup { background-position: -1155px -51px; }
.icon-cutlery { background-position: -1431px -235px; }
.icon-dashboard { background-position: -1707px -281px; }
.icon-database-ban { background-position: -2075px -97px; }
.icon-database-lock { background-position: -1937px -97px; }
.icon-database-minus { background-position: -2029px -97px; }
.icon-database-plus { background-position: -1983px -97px; }
.icon-delete { background-position: -511px -235px; }
.icon-direction { background-position: -1707px -189px; }
.icon-disk-export { background-position: -1247px -373px; }
.icon-disk-import { background-position: -1201px -373px; }
.icon-disk-open { background-position: -1063px -373px; }
.icon-disk-remove { background-position: -1155px -373px; }
.icon-disk-save { background-position: -1017px -373px; }
.icon-disk-saved { background-position: -1109px -373px; }
.icon-dislikes { background-position: -2213px -5px; }
.icon-display { background-position: -1707px -51px; }
.icon-divide { background-position: -189px -235px; }
.icon-dog { background-position: -97px -5px; }
.icon-down-arrow { background-position: -741px -189px; }
.icon-download { background-position: -189px -189px; }
.icon-download-alt { background-position: -1569px -143px; }
.icon-dress { background-position: -1799px -327px; }
.icon-drink { background-position: -1293px -235px; }
.icon-dumbbell { background-position: -603px -327px; }
.icon-ear-plugs { background-position: -971px -143px; }
.icon-earphone { background-position: -51px -419px; }
.icon-edit { background-position: -143px -143px; }
.icon-eject { background-position: -1477px -143px; }
.icon-electrical-plug { background-position: -925px -235px; }
.icon-electrical-socket-eu { background-position: -1615px -327px; }
.icon-electrical-socket-us { background-position: -1661px -327px; }
.icon-electricity { background-position: -419px -189px; }
.icon-embed { background-position: -879px -97px; }
.icon-embed-close { background-position: -925px -97px; }
.icon-envelope { background-position: -465px -5px; }
.icon-euro { background-position: -1385px -189px; }
.icon-exit { background-position: -2075px -327px; }
.icon-expand { background-position: -1109px -327px; }
.icon-eye-close { background-position: -143px -51px; }
.icon-eye-open { background-position: -97px -51px; }
.icon-eyedropper { background-position: -1891px -51px; }
.icon-fabric { background-position: -1891px -235px; }
.icon-facetime-video { background-position: -1523px -143px; }
.icon-factory { background-position: -419px -419px; }
.icon-fast-backward { background-position: -1109px -143px; }
.icon-fast-food { background-position: -1385px -235px; }
.icon-fast-forward { background-position: -1385px -143px; }
.icon-fax { background-position: -373px -419px; }
.icon-female { background-position: -97px -235px; }
.icon-file { background-position: -1661px -5px; }
.icon-file-export { background-position: -741px -327px; }
.icon-file-import { background-position: -695px -327px; }
.icon-film { background-position: -373px -5px; }
.icon-filter { background-position: -1201px -281px; }
.icon-fins { background-position: -373px -235px; }
.icon-fire { background-position: -1017px -5px; }
.icon-fishes { background-position: -419px -235px; }
.icon-flag { background-position: -971px -235px; }
.icon-flash { background-position: -2075px -189px; }
.icon-floppy-disk { background-position: -97px -419px; }
.icon-floppy-open { background-position: -281px -419px; }
.icon-floppy-remove { background-position: -189px -419px; }
.icon-floppy-save { background-position: -235px -419px; }
.icon-floppy-saved { background-position: -143px -419px; }
.icon-flower { background-position: -741px -281px; }
.icon-folder-closed { background-position: -2213px -373px; }
.icon-folder-flag { background-position: -51px -143px; }
.icon-folder-lock { background-position: -5px -143px; }
.icon-folder-minus { background-position: -2213px -97px; }
.icon-folder-new { background-position: -97px -143px; }
.icon-folder-open { background-position: -2121px -97px; }
.icon-folder-plus { background-position: -2167px -97px; }
.icon-font { background-position: -97px -97px; }
.icon-forward { background-position: -1339px -143px; }
.icon-french-press { background-position: -2213px -235px; }
.icon-fullscreen { background-position: -281px -327px; }
.icon-gamepad { background-position: -1247px -281px; }
.icon-gbp { background-position: -1477px -189px; }
.icon-gift { background-position: -925px -51px; }
.icon-girl { background-position: -189px -5px; }
.icon-git-branch { background-position: -1385px -373px; }
.icon-git-commit { background-position: -1707px -373px; }
.icon-git-compare { background-position: -1661px -373px; }
.icon-git-create { background-position: -1431px -373px; }
.icon-git-delete { background-position: -1523px -373px; }
.icon-git-merge { background-position: -1569px -373px; }
.icon-git-private { background-position: -1477px -373px; }
.icon-git-pull-request { background-position: -1615px -373px; }
.icon-glass { background-position: -5px -5px; }
.icon-global { background-position: -1293px -327px; }
.icon-globe { background-position: -2121px -281px; }
.icon-globe-af { background-position: -1247px -327px; }
.icon-golf { background-position: -2029px -373px; }
.icon-golf-course { background-position: -465px -373px; }
.icon-google-maps { background-position: -2121px -189px; }
.icon-grater { background-position: -97px -281px; }
.icon-group { background-position: -1983px -5px; }
.icon-hand-down { background-position: -235px -327px; }
.icon-hand-left { background-position: -143px -327px; }
.icon-hand-right { background-position: -97px -327px; }
.icon-hand-saw { background-position: -1523px -327px; }
.icon-hand-up { background-position: -189px -327px; }
.icon-hdd { background-position: -2213px -281px; }
.icon-header { background-position: -833px -419px; }
.icon-headphones { background-position: -1247px -51px; }
.icon-headset { background-position: -1293px -51px; }
.icon-heart { background-position: -557px -5px; }
.icon-heart-empty { background-position: -879px -5px; }
.icon-heat { background-position: -1615px -51px; }
.icon-history { background-position: -373px -51px; }
.icon-hockey { background-position: -2075px -373px; }
.icon-home { background-position: -925px -5px; }
.icon-hospital { background-position: -189px -281px; }
.icon-hospital-h { background-position: -235px -281px; }
.icon-imac { background-position: -603px -143px; }
.icon-inbox { background-position: -1477px -97px; }
.icon-inbox-in { background-position: -1661px -97px; }
.icon-inbox-lock { background-position: -1615px -97px; }
.icon-inbox-minus { background-position: -1569px -97px; }
.icon-inbox-out { background-position: -1707px -97px; }
.icon-inbox-plus { background-position: -1523px -97px; }
.icon-ipad { background-position: -695px -143px; }
.icon-iphone { background-position: -741px -143px; }
.icon-iphone-exchange { background-position: -833px -143px; }
.icon-iphone-shake { background-position: -1937px -281px; }
.icon-iphone-transfer { background-position: -787px -143px; }
.icon-ipod { background-position: -879px -143px; }
.icon-ipod-shuffle { background-position: -925px -143px; }
.icon-italic { background-position: -143px -97px; }
.icon-justify { background-position: -695px -97px; }
.icon-kettle { background-position: -143px -281px; }
.icon-keyboard-wireless { background-position: -1109px -235px; }
.icon-keynote { background-position: -557px -51px; }
.icon-keys { background-position: -2029px -5px; }
.icon-kiosk { background-position: -557px -419px; }
.icon-kiosk-food { background-position: -695px -419px; }
.icon-kiosk-light { background-position: -649px -419px; }
.icon-kiosk-wheels { background-position: -603px -419px; }
.icon-leaf { background-position: -51px -5px; }
.icon-leather { background-position: -1937px -235px; }
.icon-left-arrow { background-position: -649px -189px; }
.icon-left-indent { background-position: -465px -97px; }
.icon-life-preserver { background-position: -603px -281px; }
.icon-lightbulb { background-position: -695px -51px; }
.icon-link { background-position: -51px -51px; }
.icon-list { background-position: -741px -97px; }
.icon-lock { background-position: -327px -189px; }
.icon-log-book { background-position: -1753px -51px; }
.icon-log-in { background-position: -1983px -327px; }
.icon-log-out { background-position: -2029px -327px; }
.icon-luggage { background-position: -1523px -5px; }
.icon-macbook { background-position: -649px -143px; }
.icon-magic { background-position: -419px -5px; }
.icon-magnet { background-position: -1063px -5px; }
.icon-male { background-position: -51px -235px; }
.icon-message-ban { background-position: -1293px -97px; }
.icon-message-empty { background-position: -1063px -97px; }
.icon-message-flag { background-position: -1339px -97px; }
.icon-message-forward { background-position: -1707px -327px; }
.icon-message-full { background-position: -1017px -97px; }
.icon-message-in { background-position: -1109px -97px; }
.icon-message-lock { background-position: -1385px -97px; }
.icon-message-minus { background-position: -1247px -97px; }
.icon-message-new { background-position: -1431px -97px; }
.icon-message-out { background-position: -1155px -97px; }
.icon-message-plus { background-position: -1201px -97px; }
.icon-microphone { background-position: -281px -281px; }
.icon-minus { background-position: -1891px -373px; }
.icon-money { background-position: -787px -419px; }
.icon-moon { background-position: -1569px -189px; }
.icon-more { background-position: -1845px -143px; }
.icon-more-items { background-position: -1109px -281px; }
.icon-more-windows { background-position: -327px -143px; }
.icon-move { background-position: -1799px -143px; }
.icon-music { background-position: -787px -5px; }
.icon-mute { background-position: -1615px -143px; }
.icon-nails { background-position: -1385px -327px; }
.icon-nameplate { background-position: -419px -327px; }
.icon-nameplate-alt { background-position: -465px -327px; }
.icon-new-window { background-position: -189px -143px; }
.icon-new-window-alt { background-position: -2121px -327px; }
.icon-note { background-position: -833px -5px; }
.icon-notes { background-position: -1799px -5px; }
.icon-notes-2 { background-position: -1339px -5px; }
.icon-ok { background-position: -97px -189px; }
.icon-ok-2 { background-position: -465px -189px; }
.icon-old-man { background-position: -1569px -5px; }
.icon-oxygen-bottle { background-position: -327px -235px; }
.icon-package { background-position: -879px -373px; }
.icon-pants { background-position: -1799px -235px; }
.icon-paperclip { background-position: -603px -51px; }
.icon-parents { background-position: -1109px -5px; }
.icon-pause { background-position: -1247px -143px; }
.icon-pen { background-position: -1799px -189px; }
.icon-pencil { background-position: -1385px -5px; }
.icon-phone-alt { background-position: -5px -419px; }
.icon-piano { background-position: -1477px -281px; }
.icon-picture { background-position: -1845px -97px; }
.icon-pie-chart { background-position: -1937px -5px; }
.icon-pin { background-position: -1937px -189px; }
.icon-pin-flag { background-position: -1983px -281px; }
.icon-pipe { background-position: -2121px -373px; }
.icon-pizza { background-position: -1477px -235px; }
.icon-play { background-position: -1201px -143px; }
.icon-play-button { background-position: -1109px -189px; }
.icon-playing-dices { background-position: -1293px -281px; }
.icon-playlist { background-position: -557px -143px; }
.icon-plus { background-position: -1845px -373px; }
.icon-podium { background-position: -1569px -281px; }
.icon-pool { background-position: -695px -235px; }
.icon-pot { background-position: -51px -281px; }
.icon-power { background-position: -649px -51px; }
.icon-print { background-position: -695px -5px; }
.icon-projector { background-position: -327px -51px; }
.icon-pushpin { background-position: -1891px -281px; }
.icon-qrcode { background-position: -603px -235px; }
.icon-rabbit { background-position: -2075px -281px; }
.icon-radar { background-position: -373px -373px; }
.icon-random { background-position: -1569px -51px; }
.icon-record { background-position: -1017px -143px; }
.icon-redo { background-position: -1937px -373px; }
.icon-refresh { background-position: -1477px -51px; }
.icon-registration-mark { background-position: -327px -373px; }
.icon-remove { background-position: -51px -189px; }
.icon-remove-2 { background-position: -511px -189px; }
.icon-repeat { background-position: -1661px -51px; }
.icon-resize-full { background-position: -879px -189px; }
.icon-resize-small { background-position: -833px -189px; }
.icon-restart { background-position: -1017px -327px; }
.icon-retweet { background-position: -1431px -51px; }
.icon-retweet-2 { background-position: -1523px -189px; }
.icon-rewind { background-position: -1155px -143px; }
.icon-riflescope { background-position: -1569px -327px; }
.icon-right-arrow { background-position: -695px -189px; }
.icon-right-indent { background-position: -511px -97px; }
.icon-ring { background-position: -1201px -235px; }
.icon-road { background-position: -1201px -5px; }
.icon-rotation-lock { background-position: -2029px -189px; }
.icon-roundabout { background-position: -1523px -51px; }
.icon-router { background-position: -2121px -5px; }
.icon-rugby { background-position: -833px -281px; }
.icon-ruller { background-position: -879px -51px; }
.icon-sampler { background-position: -1523px -281px; }
.icon-saw-blade { background-position: -925px -419px; }
.icon-scissors { background-position: -1983px -235px; }
.icon-screenshot { background-position: -1753px -143px; }
.icon-scuba-diving { background-position: -281px -235px; }
.icon-search { background-position: -1247px -5px; }
.icon-security-camera { background-position: -1063px -327px; }
.icon-send { background-position: -1339px -373px; }
.icon-server { background-position: -1017px -419px; }
.icon-server-ban { background-position: -1155px -419px; }
.icon-server-flag { background-position: -1201px -419px; }
.icon-server-lock { background-position: -1247px -419px; }
.icon-server-minus { background-position: -1109px -419px; }
.icon-server-new { background-position: -1293px -419px; }
.icon-server-plus { background-position: -1063px -419px; }
.icon-settings { background-position: -1615px -235px; }
.icon-share { background-position: -1201px -189px; }
.icon-share-alt { background-position: -649px -281px; }
.icon-sheriffs-star { background-position: -557px -235px; }
.icon-shield { background-position: -1155px -235px; }
.icon-shirt { background-position: -1891px -327px; }
.icon-shoe-steps { background-position: -1799px -373px; }
.icon-shop { background-position: -511px -419px; }
.icon-shop-window { background-position: -465px -419px; }
.icon-shopping-bag { background-position: -327px -327px; }
.icon-shopping-cart { background-position: -281px -189px; }
.icon-show-big-thumbnails { background-position: -373px -143px; }
.icon-show-lines { background-position: -511px -143px; }
.icon-show-thumbnails { background-position: -419px -143px; }
.icon-show-thumbnails-with-lines { background-position: -465px -143px; }
.icon-signal { background-position: -1385px -51px; }
.icon-skateboard { background-position: -419px -373px; }
.icon-skull { background-position: -2075px -235px; }
.icon-smoking { background-position: -879px -327px; }
.icon-snorkel-diving { background-position: -235px -235px; }
.icon-snowflake { background-position: -971px -5px; }
.icon-soccer-ball { background-position: -1615px -281px; }
.icon-sort { background-position: -1155px -281px; }
.icon-sort-by-alphabet { background-position: -557px -373px; }
.icon-sort-by-alphabet-alt { background-position: -603px -373px; }
.icon-sort-by-attributes { background-position: -741px -373px; }
.icon-sort-by-attributes-alt { background-position: -787px -373px; }
.icon-sort-by-order { background-position: -649px -373px; }
.icon-sort-by-order-alt { background-position: -695px -373px; }
.icon-sorting { background-position: -511px -373px; }
.icon-sound-5-1 { background-position: -143px -373px; }
.icon-sound-6-1 { background-position: -189px -373px; }
.icon-sound-7-1 { background-position: -235px -373px; }
.icon-sound-dolby { background-position: -97px -373px; }
.icon-sound-stereo { background-position: -51px -373px; }
.icon-spade { background-position: -787px -235px; }
.icon-spray { background-position: -1339px -327px; }
.icon-star { background-position: -5px -51px; }
.icon-stats { background-position: -1845px -5px; }
.icon-step-backward { background-position: -1063px -143px; }
.icon-step-forward { background-position: -1431px -143px; }
.icon-stop { background-position: -1293px -143px; }
.icon-stopwatch { background-position: -281px -51px; }
.icon-stroller { background-position: -1201px -51px; }
.icon-subtitles { background-position: -5px -373px; }
.icon-suitcase { background-position: -649px -327px; }
.icon-sun { background-position: -1615px -189px; }
.icon-sweater { background-position: -1845px -235px; }
.icon-t-shirt { background-position: -1753px -235px; }
.icon-table { background-position: -971px -97px; }
.icon-table-tennis { background-position: -925px -281px; }
.icon-tablet { background-position: -1569px -235px; }
.icon-tag { background-position: -741px -51px; }
.icon-tags { background-position: -787px -51px; }
.icon-tea-kettle { background-position: -2167px -235px; }
.icon-temple-buddhist { background-position: -511px -281px; }
.icon-temple-christianity-church { background-position: -373px -281px; }
.icon-temple-hindu { background-position: -465px -281px; }
.icon-temple-islam { background-position: -419px -281px; }
.icon-text-bigger { background-position: -833px -97px; }
.icon-text-height { background-position: -327px -97px; }
.icon-text-resize { background-position: -419px -97px; }
.icon-text-smaller { background-position: -787px -97px; }
.icon-text-strike { background-position: -281px -97px; }
.icon-text-underline { background-position: -235px -97px; }
.icon-text-width { background-position: -373px -97px; }
.icon-thumbs-down { background-position: -51px -327px; }
.icon-thumbs-up { background-position: -5px -327px; }
.icon-tie { background-position: -1385px -281px; }
.icon-tint { background-position: -1983px -51px; }
.icon-tower { background-position: -1293px -373px; }
.icon-train { background-position: -649px -5px; }
.icon-transfer { background-position: -741px -419px; }
.icon-translate { background-position: -327px -419px; }
.icon-tree-conifer { background-position: -1017px -281px; }
.icon-tree-deciduous { background-position: -1063px -281px; }
.icon-truck { background-position: -419px -51px; }
.icon-turtle { background-position: -2029px -281px; }
.icon-umbrella { background-position: -971px -51px; }
.icon-unchecked { background-position: -281px -143px; }
.icon-underwear { background-position: -1937px -327px; }
.icon-undo { background-position: -1983px -373px; }
.icon-unlock { background-position: -373px -189px; }
.icon-unshare { background-position: -1155px -189px; }
.icon-up-arrow { background-position: -787px -189px; }
.icon-upload { background-position: -235px -189px; }
.icon-usd { background-position: -1431px -189px; }
.icon-user { background-position: -143px -5px; }
.icon-user-add { background-position: -281px -5px; }
.icon-user-remove { background-position: -327px -5px; }
.icon-vases { background-position: -511px -327px; }
.icon-vcard { background-position: -879px -235px; }
.icon-vector-path-all { background-position: -51px -97px; }
.icon-vector-path-circle { background-position: -2121px -51px; }
.icon-vector-path-curve { background-position: -5px -97px; }
.icon-vector-path-line { background-position: -2213px -51px; }
.icon-vector-path-polygon { background-position: -2167px -51px; }
.icon-vector-path-square { background-position: -2075px -51px; }
.icon-video-hd { background-position: -2213px -327px; }
.icon-video-sd { background-position: -2167px -327px; }
.icon-volume-down { background-position: -1661px -143px; }
.icon-volume-up { background-position: -1707px -143px; }
.icon-wallet { background-position: -1431px -281px; }
.icon-warning-sign { background-position: -1339px -51px; }
.icon-webcam { background-position: -327px -281px; }
.icon-wifi { background-position: -1109px -51px; }
.icon-wifi-alt { background-position: -1477px -5px; }
.icon-woman { background-position: -1615px -5px; }
.icon-wrench { background-position: -2167px -373px; }
.icon-zoom-in { background-position: -1845px -189px; }
.icon-zoom-out { background-position: -1891px -189px; }
