= content_for :sidebar do
  %ul
    %li Home
    %li Users
    %li User Groups
    %li Phone Numbers
    %li Devices
    %li Extensions
    %ul
      %li Lines
      %li Ring Groups
      %li Conference Rooms
      %li Call Queues
      %li Dial Plans
      %li Shared Voicemail Boxes
      %li Virtual Fax Machines
    %li Hold Music
    %li Sound Clips
    %li Directories
    %li Schedules
    %li Permissions
    %li System Settings